<!DOCTYPE html>
<html lang="en">

    {% load static %}   
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sitio</title>
        <link rel="stylesheet" href="{% static 'usuario/css/estilos.css'%}"

>
        <link rel="stylesheet" href="{% static 'usuario/css/otros_estilos.css'%}"
        > 

    </head>
    <body>
        <h1>Titulo H1</h1>
        <p>Este es mi sitio</p>
        <a href="http://www.sii.cl">Este es el link a algun sitio</a>
        <div>
            <h2>Encabezado 2</h2>
        </div>
        <table border="1"><td>hola</td></table>
        <dl>Lista definiciones
            <dt>Azucar</dt>
            <dd>Es algo que sirve para endulzar</dd>
            <dt>Aceite</dt>
            <dd>Es algo que sirve para alinar</dd>
        </dl>
        <a href="{% url 'Logout' %}">Cerrar sesión</a>
    </body>
</html>