body{
    font-size: 20px;
    background-color: beige;
}
#divderecha{
    text-align: right;
    background-color: crimson;
}
.grande{
    font-size: 32px;
}
.tipoArial{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}